
<footer class="footer">
  <div>
    <h3>Career<span>Track</span></h3>
    <p>Track. Apply. Succeed.</p>
  </div>

  <div class="footer-links">
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/terms">Terms</a>
    <a href="/privacy">Privacy</a>
  </div>

  <p class="copyright">
    © 2026 CareerTrack. All Rights Reserved.
  </p>

 
</footer> 

  <script src="/js/main.js"></script>
 